*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;

}

#sideBar {
position: fixed;
width: 200px;
height: 100%;
background: #151719;

}

#sidebar ul li {
    color:rgba(230, 230, 230, 0.9);
}