* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


.tabMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
    position: fixed;
    width: 100%;
}

li {
    float: left;
    width: 25%;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.tabCategory:hover {
    background-color: darkgrey;
}



.category {
    padding: 200px;
    background-color: dimgray;
    margin: 15px;
}