* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


.tabMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
    position: fixed;
    width: 100%;
}

li {
    float: left;
    width: 25%;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.tabCategory:hover {
    background-color: darkgrey;
}



.container {
    background-color: lightgrey;
    padding: 5%;
    margin-top: 10px;
    font-family: Roboto Mono;
    text-align: center;
}

.category {
    background-color: white;
    height: 60px;
    width: 100%;
    padding: 1%;
    margin-top: 10%;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.5);
}


.horizontal-scrolling-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
 
  }

  .horizontal-scrolling-wrapper > div {
    width: 100px;
    height: 100px;
    margin-left: 20px;
  }

  .beers {
    display: inline-block;
    position: relative;
  }

  .front{
    background-color: lightcoral;
  }

  .front:hover{
    transform: rotateX(180deg);
  }
  
  .back {
      display: block;
      
  }


  .ciders {
    display: inline-block;
  }

  .spirits {
    display: inline-block;
  }

  .wines {
    display: inline-block;
  }

